.guest-layout {
    border: 1px solid grey;
    width: fit-content;
    padding: 0.7rem;
    font-size: 12px; 
   
}
a, a:hover {
    text-decoration: none;
    color: black;
}

a.active {
    background-color: #c0c0c0;
    color: #ffffff;
}