.dashboard-body {
    background-color: rgb(224, 221, 221);
}

.sub-body {
    background-color: #ffffff;
}

.side-button:hover{
    background-color: #DB7C3B;
    color: #fff;
}

.side-button {
    text-align: left;
    font-size: 1.3rem;
    margin: 0px 0;
    font-weight: 600;
    padding: 10px 15px;
}

.side-button.active {
    background-color: #DB7C3B;
    color: #ffffff;
}
