nav a.active {
  color: #090909;
  text-decoration: none;
}

nav a {
  color: #1a1b1c;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  color: #0d2b66;
}

nav {
  font-size: 13px;
  font-family: "Regular";
}

.book-a-consulation {
  background-color: #000000;
  border-radius: 4px;
  color: #e8e8e8;
}

.book-a-consulation:hover {
  color: #e8e8e8;
}
