.App {
  background-image: url("https://res.cloudinary.com/ddaoml7e8/image/upload/v1699170427/WhatsApp_Image_2023-11-04_at_11.50.37.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-lhs {
  padding: 10rem 7rem;
}

.hero-rhs {
  padding: 2rem 8rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.get-started {
  background-color: #000000;
  border-radius: 4px;
  color: #e8e8e8;
  text-decoration: none;
  
}

.get-started:hover{
  color: #e8e8e8;  
}